<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.moo.coffeeorder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="Oliver Brown"
        android:logo="@drawable/logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCh-5Thipj_bArFyq1RESOa6Ws7Q6NBLwE" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogInActivity"
            android:label="Oliver Brown"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.PreferenceActivity"
            android:label="@string/title_activity_preference"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragments.PlaceOrderActivity"
            android:label="@string/title_activity_place_order"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>